name: Slow Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  godot-headless:
    runs-on: ubuntu-latest
    container:
      image: witchpixels/godot4-omnibuilder3d:latest-4.5.1-vanilla
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      # TODO: use the container's copy when its fixed, and run before checkout.
      - name: Fix the fix
        run: |
          chmod +x ./setup_github_paths.sh
          bash ./setup_github_paths.sh

      - name: Build Godot Extension
        working-directory: rust-workspace
        run: |
          cargo +nightly \
          build --package lizstate-godot-glue

      - name: godot --import
        run: godot -v --headless --path godot-project/ --import

      - name: godot --quit-after
        run: |
          godot -v --headless --path godot-project/ \
          --quit-after 100000 --disable-vsync --fixed-fps 60
